* { 
    margin: 0px;
    border: 0px;
    
}

/* img */
main img {
    height: 300px;
    width: 300px;
    display: inline;
    grid-area: Portada de la serie;
    grid-area: Billy, Mandy y Puro Hueso;
    grid-template-areas: "Portada de la serie";
}

body {
    background-image: url(https://us.123rf.com/450wm/sbhaumik/sbhaumik1505/sbhaumik150500444/40574413-la-sangre-humana-y-la-huella-digital-dejaron-pruebas-forenses-sobre-un-fondo-blanco.jpg?ver=6);
    background-size: auto;
}

/* nav */
body nav ul{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    border: 50px;
    font-size: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 1);
    display: flex;
    justify-content: space-between;
    position: sticky;
    position: fixed;
    align-items: center;
}


.menu {
    border: 20px;
    font-family: 'Tapestry', cursive;
    
   
}

.textoLorem{
    overflow:scroll ;
    height: 1000px;
    width: 1000px;

}


/* footer */
footer {
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);

}