
/* img */
.imgInicio{
    height: 250px;
    width: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr

  
} 

body {
    background-image: url(https://us.123rf.com/450wm/sbhaumik/sbhaumik1505/sbhaumik150500444/40574413-la-sangre-humana-y-la-huella-digital-dejaron-pruebas-forenses-sobre-un-fondo-blanco.jpg?ver=6);
    background-size: auto;
}

/* nav */

body nav ul{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    border: 50px;
    font-size: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 1);
    display: flex;
    justify-content: space-between;
    position: sticky;
    align-items:center;
   

}

body nav ul li{
    transition: all 1.5s;
    

}

body nav ul li:hover{
    background-color: darkred;
    transform: scale(1.5,1.2);

}

.menu {
    padding: 20px;
    border: 20px;
    font-family: 'Tapestry', cursive;

}

.textoLorem{
    overflow:scroll;
    font-size: 25px;
    height: 400px;
}

.pj {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* footer */
footer {
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);

}